{% extends 'base.html.twig' %}

{% block title %}Batch index{% endblock %}

{% block body %}

        
            	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<div class="main-warp">
		<!-- header section -->
		<header class="header-section">
			<div class="header-close">
				<i class="fa fa-times"></i>
			</div>
			<div class="header-warp">
				<a href="" class="site-logo">
					<img src="{{asset('img/logo.png')}}" alt="">
				</a>
				<img src="img/menu-icon.png" alt="" class="menu-icon">
				<ul class="main-menu">
					<li class="active"><a href="{{path('index')}}">Home</a></li>
					<li><a href="{{path('books_index')}}">Book Gallery</a></li>
					<li><a href="{{path('user_index')}}">User Details</a></li>
					<li><a href="{{path('barrow_index')}}">Barrow Details</a></li>
                    <li><a href="{{path('batch_index')}}">Book Catogary</a></li>
				</ul>
				<div class="social-links-warp">
					<div class="social-links">
						<a href=""><i class="fa fa-behance"></i></a>
						<a href=""><i class="fa fa-dribbble"></i></a>
						<a href=""><i class="fa fa-twitter"></i></a>
						<a href=""><i class="fa fa-facebook"></i></a>
						<a href=""><i class="fa fa-pinterest"></i></a>
					</div>
					<div class="social-text">Find us on</div>
				</div>
			</div>
			<div class="copyright">Colorlib 2018  @ All rights reserved</div>
		</header>
		<!-- header section end -->

		<!-- Page section -->
		<div class="page-section home-page">
                <h2>Batch index</h2>

                
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Catogary</th>
                <th>Description</th>
                <th>Price</th>
                <th>NoOfBook</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for batch in batches %}
            <tr>
                <td>{{ batch.id }}</td>
                <td>{{ batch.name }}</td>
                <td>{{ batch.catogary }}</td>
                <td>{{ batch.description }}</td>
                <td>{{ batch.price }}</td>
                <td>{{ batch.noOfBook }}</td>
                <td>
                    <a href="{{ path('batch_show', {'id': batch.id}) }}">show</a>
                    <a href="{{ path('batch_edit', {'id': batch.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('batch_new') }}">Create new</a>
		</div>
		<!-- Page section end-->
	</div>

{% endblock %}
