{% extends 'base.html.twig' %}

{% block title %}Barrow index{% endblock %}

{% block body %}
    <h1>Barrow index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>BarrowDate</th>
                <th>DueDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for barrow in barrows %}
            <tr>
                <td>{{ barrow.id }}</td>
                <td>{{ barrow.barrowDate ? barrow.barrowDate|date('Y-m-d') : '' }}</td>
                <td>{{ barrow.dueDate ? barrow.dueDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('barrow_show', {'id': barrow.id}) }}">show</a>
                    <a href="{{ path('barrow_edit', {'id': barrow.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('barrow_new') }}">Create new</a>
{% endblock %}
